body {
    background-color: #e3e0cf;
}

.task {
    display: flex;
    align-items: center;
}

.filters {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.delButton {
    background-color: #f76d78;
}

.add {
    background-color: #91d9fa;
}